__pycache__/
.ipynb_checkpoints/
.vscode/
licenses_plates_imgs_detected/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.cspell.json/
_img_ref/
_STICKER_YOLO/
_THAI_LP/
zCar_0.mp4
sticker_best.pt
main_2.py
routes_overview - Copy.py
sticker_detect.py
sc9_sticker.pt